@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:root{
  --primary-color: #379eff;
  --primary-hover-color: #081F46;
  --primary-bg-color: #eef9ff;
  --footer-bg-color: #120d48;
  --primary-dark-color: #000000;
  --title-color: #081F46;
  --fw-title-color: #ffffff;
  --price-color: #081F46;
  --header-hover-color: #eef9ff;
  --btn-bg-color-1: #67b5ff;
  --btn-bg-color-2: #4d86ff;
  --btn-hover-color: #379eff;
  --social-icon-txt-color: #ffffff;
  --social-icon-color: #379eff;
  --social-icon-hover-color: #4d86ff;
  --woo-pr-fil-bg-color: #379eff;
  --txt-select-bg-color: #ecf4ff;
  --price-tile-color: #081F46;
  --sale-badge-bg-color: #379eff;
  --cart-count-color: #379eff;
  --success-icon-color: #379eff;
  --txt-select-bg-color: #eff9fd;
  --logo-height: 47px;

  --box-shadow: -2px 18px 30px rgba(55, 158, 255,0.2);
  --box-shadow1: 0px 18px 30px rgba(55, 158, 255,0.1);
  --box-shadow2: -2px 5px 30px rgba(7, 101, 190, 0.2);
  --nunito-font: 'Nunito';
  --dosis-font: 'Dosis';

}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  @apply antialiased text-gray-900;
  background: var(--txt-select-bg-color);
  font-family: 'Nunito';
}

.header{
  width: 100%;
  height: 100%;

}
.nav{
  width: 100%;
  text-align: center;
  align-items:center;
}
.nav-content{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: auto;
  height: 80px;

  /* padding: 10px 0px; */
}
.logo-cov{
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  /* background: green; */
}
.logo{
  width: 120px;
  cursor: pointer;
  
}

.route-link{
  a{
    margin: 0px 15px;
    font-size: .75em;
    letter-spacing: 1px;
    font-weight: 650;
    color: var(--price-color);
  }
  a:hover{
    color: var(--btn-bg-color-1);
    font-weight: 700;
  }
}

.ctc-addr{
  display: flex;
  align-items: center;
  margin: auto 15px;
  font-size: .7em;
  text-align: left;
  div{
    font-weight: 600;
    display: inline-flex;
    max-width: 200px;
  }
}
.ctc{
  cursor: pointer;
  width: fit-content;
}
.ctc:hover{
  color: var(--primary-color);
}
.ctcaddr{
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .num{
    font-weight: 700;
  } 
}
.ctcaddr:hover{
  color: var(--primary-color);
}
.headericon{
  font-size: 2em;
  margin: 5px;
}

.headerrightcover{
  width: fit-content;
  display: inline-flex;
}
.headerrightcover1{
  width: fit-content;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  background: white;
}
.headerright0{
  font-size: 1.2em;
  color: black;
  background: white;
}
.headerinput{
  margin: 0px 8px;
  outline: none;
  font-size: .9em;
}
.headerright{
  font-size: 1.2em;
  border-radius: 50%;
  background-color: white;
  padding: 8px;
  box-shadow: var(--box-shadow);
  color: black;
  margin: auto 3px;
  cursor: pointer;
}
.headerright:hover{
  background: var(--primary-bg-color);
  color: var(--primary-color);
}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 70px;
}
.first-hero, .hero-image, .third-hero {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
}

.first-hero-title{
  display: block;
  font-size: 3.6em;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: var(--dosis-font);
  color: var(--price-color);
}
.fht2{
  margin-top: -15px;
}
.first-hero-content{
  font-size: 1em;
  width: 70%;
  padding: 0px 10px;
  margin: 0px;
  border-left: solid var(--primary-color) 3px;
}

.first-hero-action{
  display: flex;
  margin: 20px 0px;
  .hero-action{
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    height: fit-content;

    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    background: var(--primary-color);
    cursor: pointer;
    box-shadow: var(--box-shadow)
  };
  width: 70%;
}

.first-hero-icon1{
  background: white;
  padding: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}
.hero-image{
  width: 230px;
}

.third-hero-content-container{
  display: flex;
  margin: auto 25px;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid rgba(0,0,0,0.1) .8px;
}

.third-hero-icon{
  font-size: 2.6em;
  margin: 0px 20px;
  color: var(--primary-color);
  border-radius: 50%;
}

.third-hero-content-title{
  font-size: 1.1em;
  margin: 0px;
  margin-bottom:5px;
  font-weight: bold;
  color: var(--price-color);
}

.third-hero-content-subtext{
  font-size: .85em;
  color: var(--price-color);
  font-weight: 500;
}

.main{
  width: 100%;
  background: white;
}

/* GFN SECTION */
.gfn{
  width: 100%;
  background: linear-gradient(var(--txt-select-bg-color),white);
}
.gfn-sect{
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 150px;
  margin: auto;
}

.gfncard{
  background: white;
  width: 300px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: var(--box-shadow1);
}

.gfncard-image{
  width: 60px;
  margin: auto;
}
.gfncard-image-src{

}

.gfncard-title{
  margin: 10px auto;
  font-weight: bold;
  color: var(--price-color);
  font-size: 1.1em;
}
.gfncard-content{
  font-size: .85em;
}

.gfncard-link{
  display: flex;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.deltrk{
  width: 85%;
  margin: auto;
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  background: white;
  justify-content: center;
  align-items: center;
}
.deltrk-img{
  max-width: 47%;
  margin: 0px auto;
}
.deltrk-img{
  width: 100%;
}
.deltrk-cnt{
  max-width: 38%;
  margin: 0px auto;
}
.deltrk-header{
  margin-bottom: 30px;
}
.deltrk-title{
  font-family: var(--dosis-font);
  font-size: 2.5em;
  letter-spacing: 1px;
  line-height: 1.7em;

  font-weight: bold;  
}
.inline-col{
  color: var(--primary-color);
}
.deltrk-subtitle{
  font-size: .8em;
  line-height: 1em;

  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 10px;
}
.deltrk-text{
  margin-bottom: 30px;
  font-size: 1em;
}
.deltrk-btn{
  color: var(--primary-color);
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.5px;
  display: flex;
  gap: 10px;
  align-items: center;  
  cursor: pointer;
}

.bottles-img{
  width: 47%;
}
.ourtech{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: var(--primary-bg-color);
}
.lpage-shape-top{
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;

  direction: ltr;
}
.lpage-shape-fill{
  fill: white;
  transform-origin: center;
  transform: rotateY(0deg);
}
.ourtechcov{
  padding-top:150px;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.ourtech-cont{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  justify-content: center;
  text-align: center;
  width: 450px;
  gap: 15px;
}
.tp{
  display: flex;
  width: 85%;
  margin: 50px auto;
  justify-content: center;
  /* gap: 15px; */
}
.tpcard{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.tpcard-img{
  padding: 30%;
  background: white;
  border-radius: 50%;
  box-shadow: var(--box-shadow1);
}
.tpcard-img-src{
  width: 60px;
}
.tpcard-title{
  font-family: var(--dosis-font);
  color: var(--title-color);
  font-size: .85em;
  font-weight: 600;
  margin-top: 20px;
  text-transform: uppercase;
  line-height: 1.2em;

  letter-spacing: 2px;
  width: 150px;
  text-align: center;
}
.tp-img{
  width: 85%;
  margin: auto;
  margin-top: 100px;
}
.tp-img-src{
  width: 100%;
  border-radius: 10px;
}
.client{
  padding-top: 120px;
  background: linear-gradient(white,var(--txt-select-bg-color));
  width: 100%;
  padding-bottom: 100px;
}
.clientcov{
  width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  order: 0;
}
.client-header{
  margin-bottom: 60px;
}
.client-list{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.client-card{
  display: flex;
  margin: 0px auto;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  width: 280px;
  background: white;
  border-radius: 20px;
  padding: 35px 35px;
  box-shadow: var(--box-shadow);
  gap: 20px;
}
.client-card-rating{
  display: flex;
  color: rgb(219, 178, 11)
}
.client-card-content{
  color: var(--title-color);
  font-size: .9em;
  font-weight: 600;
  width: 90%;
}
.client-card-profile{
  display: flex;
  margin: 0px;
  align-items: center;
  gap: 15px;
}
.client-card-pf-img{
  width: 50px;
  border-radius: 50%;
}
.client-profile-content{
  font-weight: 750;
  font-size: .9em;
}
.client-name{
}
.client-title{
  color: var(--primary-color);
}
.client-btn{
  width: fit-content;
  margin: auto;
}
.numbers{
  width: 100%;
  padding: 100px auto;
  background: white;
}
.numberscov{
  display: flex;
  width: 85%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;  
  flex-wrap: wrap;
  span{
    margin: auto;
    font-size: 60px;
    font-weight: 800;
    line-height: 1.4em;
  }
  .numbtxt{
    font-size: 13px;
    font-weight: 700;
    line-height: 1.7em;
    letter-spacing: 2px;
  }
  .bwd{
    color: #4D86FF;
  }
  .ywd{
    color:#425CEC;
  }
  .hc{
    color: #812BEA
  }
}

.delivery{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0px;
  background: linear-gradient(white,var(--primary-bg-color));
}
.delivery-cnt{
  width: 85%;
  margin: 100px auto;
  display: flex;
}
.delivery-header{
  margin-bottom: 0px;
}
.delivery-text{
  margin-top: 10px;
  font-size: 1em;
}
.delivery-cards{
  display: block;
  background: white;
  width: 85%;
  padding: 10px;
  border-radius: 20px;
}
.delivery-card{
  display: flex;
  align-items: center;
  margin: 30px 0px;
  width: 100%;
}
.delivery-card-img{
  width: 50px;
}
.delivery-card-txt{
  text-align: left;
  margin-left: 50px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 20px;
  font-family: var(--dosis-font);
  border-left: solid var(--btn-bg-color-2) 3px;
  padding:0px 10px;
}
.footer-wave-cov{
  margin: 0px;
  width: 100%;
}
.footer-wave{
  background-color: var(--primary-bg-color);
}
.fbg-wave{
  fill: var(--footer-bg-color);
  background: var(--footer-bg-color);
}
.menunav-content{
  display: none;
}



.about{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.abouthero{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.abouthero-title{
  font-size: 3em;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: normal;
  font-family: var(--dosis-font);
  color: var(--title-color);
}
.abouthero-route{
  font-size: .7em;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0.5px;
  color: #081F46;
  margin: 25px auto;
  span{
    background: var(--primary-color);
    color: white;
    padding: 3px 10px;
    border-radius: 15px;
  }
}

.contact-body{
  width: 100%;
  background: linear-gradient(white, var(--primary-bg-color));
  text-align: center;
  justify-content: space-between;
}
.contact-cov{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 88%;
  margin: 50px  auto;
}
.contact-info{
  width: 32%;
}
.contact-ho{
  background: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  align-items: left;
  width: 100%;
  padding: 40px;
  gap: 15px;
  box-shadow: var(--box-shadow2);
  border-radius: 10px;
  .contact-title{
    font-size: 1.1em;
  }
  div{
    font-size: .85em;
  }
}
.contact-oph{
  display: flex;
  background: white;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  align-items: left;
  width: 100%;
  padding: 40px;
  gap: 15px;
  margin: 30px 0px;
  box-shadow: var(--box-shadow2);
  border-radius: 10px;
  .contact-title{
    font-size: 1.1em;
  }
  div{
    font-size: .85em;
  }
}
.contact-title{
  font-weight: 700;
  padding: 0px 10px;
  border-left: solid var(--primary-color) 3px;
  border-radius: 3px; 
}
.contact-form{
  width: 50%;
  background: white;
  margin: 0px 20px;
  height: 100%;
  box-shadow: var(--box-shadow2);
  border-radius: 10px;
  padding: 40px;
  text-align: left;
}
.contact-input{
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  text-indent: 10px;
  padding: 10px;
  background: white;
  border: solid rgba(0,0,0,0.1) 1px;
  font-size: .9em;
}
.contact-area{
  width: 100%;
  height: 200px;
  margin-top: 20px;
  border-radius: 5px;
  text-indent: 10px;
  padding: 10px;
  background: white;
  border: solid rgba(0,0,0,0.1) 1px;
  font-size: .9em;
}
.ctbuttonCont{
  width: fit-content;
  margin: 20px 0px;
  margin-left: auto;
}
.genButton{
  padding: 9px 47px;
  background: linear-gradient(to right, var(--btn-bg-color-1),var(--btn-bg-color-2));
  color: white;
  font-weight: 600;
  border-radius: 30px;
  font-size: .9em;
  cursor: pointer;
  letter-spacing: .5px;
}
.genButton:hover{
  background: var(--btn-bg-color-2);
}
.contact-send{
  width: 100px;
  margin: auto;
}
.about-cont{
  width: 100%;
  display: block;
  background: white;
}
.about-cont-cov{
  width: 85%;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.about-cont-title{
  width: 90%;
  margin-right: 30px;
  text-align: left;
}
.about-cont-text{
  font-family: var(--dosis-font);
  font-size: 2.5em;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: normal;
}
.about-cont-subtext{
  font-size: 1.7em;
  font-weight: 700;
  color: var(--primary-color);
}
.about-cont-text1{
  font-size: 1.1em;
  font-weight: 400;
  margin-top: 50px;
  font-family: var(--nunito-font);
}

.about-cont-img{
  width: 100%;
  /* margin: auto; */
}
.about-cont-src{
  width: 100%;
}
.tp1{
  display: flex;
  width: 95%;
  margin: 50px auto;
  position: relative;
}
.tparrow1{
  position: absolute;
  left: 0px;
  top: 50%;
  font-size: 2em;
  transform: translate(0,50%);
  cursor: pointer;
  
}
.tparrow2{
  position: absolute;
  right: 0px;
  top: 50%;
  font-size: 2em;
  transform: translate(0,50%);
  cursor: pointer;
}
.tpcard1{
  position: relative;
  margin: auto;
  width: 300px;
  border-radius: 20px;
  height: 400px;
  background: white;
}
.tpcard1-title{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: .8em;
  font-weight: 700;
  background: white;
  padding: 5px;
  border-radius: 5px;
}
.tpcard1-job{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: .7em;
  font-weight: 800;
  color: var(--btn-bg-color-2);
}
.tpcard1-img-src{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--box-shadow2);
}
@media screen and (max-width:700px) {
  
  .nav-content{
    display: flex;
  }
  .md{
    position: relative;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mdmenu{
    position: absolute;
    left: 10px;
    top: 25px;
  }
  .nav-content{
    display: none;
  }
  .mb-nav-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .headerrightcover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .headerinpcov{
    display: flex;
    padding: 10px;
    width: 88%;
    background: rgb(242, 244, 249);
    border-radius: 25px;
    cursor: pointer;
  }
  .headerright1{
    font-size: 1.5em;
  }
  .headerright2cov{
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  .headerright2{
    font-size: 1.3em;
  }
  .headerright2cov:hover{
    color: var(--primary-color);
    background: var(--primary-bg-color);
  }
  .headerinp{
    width: 100%;
    margin: 0px 10px;
    outline: none;
    background: rgba(0,0,0,0);
  }
  .ctc-addr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-size: .8em;
    margin: 50px auto;
    margin-bottom: 0px;
  }
  .route-link{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    justify-content: left;
    margin: 50px auto;
    a{
      flex-direction: column;
      font-size: .9em;
      font-weight: 600;
    }
    span{
      display: flex;
      align-items: center;
      justify-content: left;
      text-align: left;
      padding: 13px 0px;
      border-radius: 5px;
      cursor: pointer;
      border-bottom: solid whitesmoke 2px;
    }
    span:hover{
      background: var(--primary-bg-color);
      color: var(--primary-color);
    }
  }
  .menunav-content{
    background: white;
    width: 100%;
    display: block;
  }
  .hero{
    display: block;
    width: 100%;
  }
  .first-hero{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    text-align: center;
  }
  .first-hero-action, .first-hero-content{
    text-align: center;
    justify-content: center;
    margin: 20px auto;
  }
  .hero-image{
    display: none;
  }
  .third-hero{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
  }
  .third-hero-content-container{
    width: fit-content;
    justify-content: center;
    text-align:center;
  }
  .gfn{
    width: fit-content;
    margin: auto;
  }
  .gfncard{
    margin: 30px auto;
    width: 100%;
  }
  .deltrk{
    display: block;
    width: 100%;
  }
  .deltrk-img{
    max-width: 65%;
  }
  .deltrk-cnt{
    max-width: 90%;
  }
  .deltrk-header{
    text-align: center;
    margin: 20px auto;
  }
  .deltrk-text{
    text-align: center;
    font-size: 1.2em;
    margin: 50px auto;
  }
  .deltrk-btn{
    text-align: center;
    justify-content: center;
  }
  .deltrkmb{
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .deltrk-text{
    font-size: 1.2em;
  }
  .ourtech-cont{
    width: 90%;
  }
  .tp{
    display: block;
  }
  .tpcard{
    width: 60%;
    margin: 60px auto;
  }
  .tpcard-img-src{
    width: 100px;
  }
  .tpcard-title{
    margin-top: 30px;
    width: 90%;
  }
  .tp-img{
    width: 90%;
  }
  .clientcov{
    width: 100%;
  }
  .client-list{
    width: 100%;
  }
  .client-card{
    width: 85%;
    margin: 50px auto;
    text-align: center;
  }
  .client-card-content{
    font-size: 1.2em;
  }
  .client-card-profile{
    display: block;
    justify-content: center;
  }
  .client-card-pf-img{
    margin: 10px auto;
    width: 60px;
  }
  .numberscov{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

 .delivery-cnt{
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 0px auto;
  padding-bottom: 50px;
 }
 .delivery-cards{
  width: 100%;
 }

 .abouthero{
  padding-top: 60px;
  padding-bottom: 60px;
 }
 .abouthero-title{
  font-size: 2.6em;
 }
 .abouthero-route{
  font-size: .8em;
 }
 .contactbody-title{
  font-size: 2.2em;
 }
 .contact-cov{
  width: 90%;
 }
 .contact-info{
  width: 100%;
 }
 .contact-form{
  width: 100%;
  margin: 0px;
 }
 .about-cont-cov{
  width: 90%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
 }
 .about-cont-text{
  font-size: 1.8em;
  text-align: center;
  margin-top: 50px;
 }
 .about-cont-subtext{
  text-align: center;
  font-size: 1.5em;
 }
 .tp1{
  display: block;
 }
 .tpcard1{
  width: 85%;
  height: 500px;
  margin-bottom: 30px;
 }
}